# SUMMER ANALYTICS 2022

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
os.chdir('/content/drive/My Drive/python')

# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first assignment of Summer Analytics 2022! We hope you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We've got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**


***Let's get started with importing numpy, pandas, seaborn and matplotlib!***

Note - matplotlib should be imported with the command :

 `import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries
For eg, "import numpy as np"

In [3]:
#your code here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sea

### 2) Read the csv file and assign it to a variable .

In [4]:
#your code here
df = pd.read_csv("/content/drive/My Drive/python/Pokemon.csv")

### 3) Display shape of dataframe
Expected Output - (800, 13)

In [5]:
#your code here
df.shape

(800, 13)

### 4) Print all columns of dataframe
Return an array containing names of all the columns.

In [6]:
#your code here
dis_col = []
for col in df.columns:
  dis_col.append(col)

### 5) Remove the column '#' and update the dataframe.

In [7]:
#your code here
df.pop("#")

0        1
1        2
2        3
3        3
4        4
      ...
795    719
796    719
797    720
798    720
799    721
Name: #, Length: 800, dtype: int64

In [8]:
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 6) Set the 'Name' column as the index of dataframe

In [9]:
#your code here
df.set_index("Name")

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

###  7) Print a list of all the unique Type-1 powers

In [10]:
#your code here
df["Type 1"].explode().unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [11]:
#your code here
df['+'] = '+'
df['t1+t2'] = df['Type 1']+df['+']+df['Type 2']
df.pop('+')

count=0
for c in df['t1+t2']:
  if c=='Psychic+Flying':
    count+=1
print(count)

6

## GRADED Questions (To be answered in the quiz)
### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [12]:
#your code here
count=0
for c in df['Name']:
   if c.find('Mega')!=-1:
     count+=1
print(count)

49

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [13]:
#your code here
import statistics
print(statistics.stdev(df['Sp. Def']))

27.82891579711746

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [14]:
#your code here
count = 0 
sum = 0
for c in df['Legendary']:
  if c == True:
    count+=1
  sum+=1
k = ((count) / (sum)) *100
print(k)

8.125

### 4. Name the pokemon(s) with Maximum Defense.

In [15]:
#your code here
count = 0
for c in df['Defense']:
  if c>count:
    count = c
print(count)

230

### 5. Which poison pokemon has the strongest attack ?

In [16]:
#your code here
d=df.groupby('Type 2')
print(d)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f68133709d0>

In [28]:
d.first()

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,t1+t2
Type 2,,,,,,,,,,,,
Bug,Anorith,Rock,355,45,95,50,40,50,75,3,False,Rock+Bug
Dark,GyaradosMega Gyarados,Water,640,95,155,109,70,130,81,1,False,Water+Dark
Dragon,CharizardMega Charizard X,Fire,634,78,130,111,130,85,100,1,False,Fire+Dragon
Electric,Chinchou,Water,330,75,38,38,56,56,67,2,False,Water+Electric
Fairy,Jigglypuff,Normal,270,115,45,20,45,25,20,1,False,Normal+Fairy
Fighting,Poliwrath,Water,510,90,95,95,70,90,70,1,False,Water+Fighting
Fire,Houndour,Dark,330,45,60,30,80,50,65,2,False,Dark+Fire
Flying,Charizard,Fire,534,78,84,78,109,85,100,1,False,Fire+Flying
Ghost,Shedinja,Bug,236,1,90,45,30,30,40,3,False,Bug+Ghost
Grass,Paras,Bug,285,35,70,55,45,55,25,1,False,Bug+Grass
Ground,Nidoqueen,Poison,505,90,92,87,75,85,76,1,False,Poison+Ground
Ice,Dewgong,Water,475,90,70,80,70,95,70,1,False,Water+Ice
Normal,Litleo,Fire,369,62,50,58,73,54,72,6,False,Fire+Normal
Poison,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False,Grass+Poison
Psychic,Slowpoke,Water,315,90,65,65,40,40,15,1,False,Water+Psychic
Rock,Rhyhorn,Ground,345,80,85,95,30,30,25,1,False,Ground+Rock
Steel,Magnemite,Electric,325,25,35,70,95,55,45,1,False,Electric+Steel
Water,Omanyte,Rock,355,35,40,100,90,55,35,1,False,Rock+Water

In [29]:
c=0
for f,g in df['Type 2'],df['Sp. Atk']:
  if f=='Poison':
    if g>c:
      c=g
print(c)

ValueError: ignored

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [18]:
#your code here

In [19]:
#your code here

In [20]:
#your code here

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [21]:
#your code here

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [22]:
#your code here


## *Congratulations on coming this far! Since we were having so much fun playing with this dataset, here are some bonus questions that you can try to further deepen your understanding of the topic!*

### **Note:** These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [23]:
#your code here

### Which type of legendary pokemons are the most common?

In [24]:
#your code here

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [25]:
#your code here

### Print out the third slowest pokemon(s) in the dataset.

In [26]:
#your code here

### Which pokemon type has the highest average HP?

In [27]:
#your code here